<!DOCTYPE html>
<html>

   <head>
      <title>Request Header Microservice</title>
      <link rel="shortcut icon" href="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a3/Paris_RER_B_icon.svg/92px-Paris_RER_B_icon.svg.png" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
         <h1>Microservices with Node.js </h1>
     
<h3>Request Header Parser Microservice </h3>
  <h5>Example:
        </h5>
         <p>    https://bbx-whoami.glitch.me/x    </p>
     </div>
     
      
   </body>

</html>
